<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="<%= asset_path('flower1.jpg')%>">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/1"><h1 class="font-cursive-shadow">Caricatures by photo</h1></a>
              <a href="./gallery/1"><p class="large-120">
                  Colored caricature made by NadinPaint - is a perfect gift that will suit anyone, regardless of gender, age, income, hobbies, etc. High quality caricature - is a presentable, respectable and exclusive gift. If you do not know what to present to a person - caricature by photo will be a perfect solution.
              </p></a>
            </div>
        </li>
        <li>
            <img src="<%= asset_path('flower1.jpg')%>">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/5"><h1 class="font-cursive-shadow">Murals</h1></a>
              <a href="./gallery/5"><p class="large-120">
                  Paintings drawn directly on a wall. It is unique design solution that highlights a unique character of the house. It can help to create atmosphere and invite guests in.
              </p></a>
            </div>
        </li>
        <li>
            <img src="<%= asset_path('flower1.jpg')%>">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/2"><h1 class="font-cursive-shadow">Oil paintings</h1></a>
              <a href="./gallery/2"><p class="large-120">
                  Classic oil paintings on canvas or other medium. High level fine art can be bold addition to fine interior. Different kinds of paintings can perfectly fit in any room: living rooms, bedrooms, children rooms, dining rooms.
              </p></a>
            </div>
        </li>
        <li>
            <img src="<%= asset_path('flower1.jpg')%>">
            <div class="caption center-align black-text caption-text-field">
              <a href="./gallery/3"><h1 class="font-cursive-shadow">Pet portraits</h1></a>
              <a href="./gallery/3"><p class="large-120">
                  Custom handmade pet portraits. Drawn with oil colors on canvas for highest quality. It's a nice way to honor and remember our little family members.
              </p></a>
            </div>
        </li>
    </ul>
</div>

<div id="app">
</div>
