<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="<%= asset_path('boards1.jpg')%>">
            <div class="caption center-align black-text caption-text-field">
              <a href="./shop"><h1 class="font-cursive-shadow">Busy boards</h1></a>
              <a href="./shop"><p class="large-120">
                  Activity board is great way for children of 1-3 years to develop fine motor skills which directly helps speech development. It helps overall brain development and keep the child busy. Children develop logic thinking and attention while playing with the board.
              </p></a>
            </div>
        </li>
        <li>
            <img src="<%= asset_path('details2.jpg')%>">
            <div class="caption center-align black-text caption-text-field">
              <a href="./shop"><h1 class="font-cursive-shadow">Handmade toys</h1></a>
              <a href="./shop"><p class="large-120">
                  Our busy boards are handmade in the USA and shipped from USA. We take time to produce the best quality toys for our children. All elements are securely tightened to the board and we use high quality water-based eco-friendly paints.
              </p></a>
            </div>
        </li>
        <li>
            <img src="<%= asset_path('cubes1.jpg')%>">
            <div class="caption center-align black-text caption-text-field">
              <a href="./shop"><h1 class="font-cursive-shadow">Activity cubes</h1></a>
              <a href="./shop"><p class="large-120">
                  Activity cube is great travel size toy which will keep the child busy and at the same time develop the motor skills. Children love this small travel companion.
              </p></a>
            </div>
        </li>
    </ul>
</div>

<div id="app">
</div>
