.boxed.col, .boxed {
  border-style: solid;
  border-width: 1px;
  border-color: #a4a4a4;
  padding: 4px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 210px;
  width: 100%;
  position: relative;
}

.img-box {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: -25px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #373636;
  border-radius: 10px;
  padding: 2px;
}

.no-padding.col {
  padding: 0px;
}

.background {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.lightbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.boxed-text {
  line-height: 1;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
}
